.followCard {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(116, 143, 252, 0.39);
    padding: 10px;
    margin-bottom: 20px;
    .followList,
    .followerList {
        color: #495057;
        margin: 0 10px;
        border: 0;
        font-weight: bold;
        font-size: 15px;
        box-shadow: none;
        &:hover {
            background-color: #fff5f5;
            font-size: 17px;
            transition: 0.8s;
        }
    }
    .followButton,
    .unfollowButton {
        margin: 0 10px;
        font-weight: bold;
        font-size: 15px;
        box-shadow: none;
        &:hover {
            background-color: #fff5f5;
        }
    }
}
.optionButton:hover {
    background-color: #fff5f5;
}
