.gatherRoom {
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/952087329764413545/957309772544229426/unknown.png');
    background-repeat: no-repeat;

    img {
        cursor: pointer;
    }
    .language-item {
        opacity: 0.3;
        transition: all 0.1s ease-in;
        transform: scale(0.9);
        &:hover {
            transform: scale(1.1);
        }
        &.onFocus {
            opacity: 1;
            transform: scale(1);
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .newPostingBtn {
        padding: 8px;
        font-weight: 600;
        transition: all 0.5s ease-in-out;
        border: 1px solid white;
        &:hover {
            background-color: hsl(43, 88%, 52%);
        }
    }

    .Gather {
        box-shadow: 0px 0px 10px 0px #748ffc63;
        border-radius: 20px;
        width: 18rem;
        margin: 0 50px 50px 0;
        &:hover {
            cursor: pointer;
        }
        ul {
            display: flex;
            justify-content: center;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        li {
            list-style: none;
            margin: 12px;
        }
        .card-title {
            font-size: 18px;
            height: 40px;
            text-overflow: ellipsis;
            word-wrap: break-word;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .imageContainer {
            text-align: center;
            img {
                width: 45px;
                height: 45px;
                &:not(:last-of-type) {
                    margin-right: 8px;
                }
            }
        }
        .like-container {
            padding: 0;
        }
        .like-icon {
            color: red;
            margin-right: 3px;
        }
    }
}
