$mainColor: white;
$buttonColor: #bac8ff;

.navbarWrap {
    background-color: $mainColor;
    .navbarLogo {
        cursor: pointer;
    }
    .navbarButton {
        margin-left: 10px;
    }
    .navbarButton:hover {
        background-color: $buttonColor;
    }
}
