$buttonColor: #bac8ff;

.login {
    height: 100vh;
    .loginImage {
        border-radius: 50%;
        height: 250px;
        width: 250px;
    }
    .loginInput {
    }
    .passwordInput {
    }
    .loginButton {
        width: 80%;
    }
    .loginButton:hover {
        background-color: #bac8ff;
    }
    .registerButton {
    }
    .registerButton:hover {
        background-color: #bac8ff;
    }

    .githubLogin {
        height: 50px;
        background-color: #444343;
        border-radius: 10px;
    }
    .githubLogin:hover {
        border: 2px black solid;
        cursor: pointer;
    }
    .googleLogin {
        height: 50px;
        background-color: #4285f4;
        border-radius: 10px;
    }
    .googleLogin:hover {
        border: 2px black solid;
        cursor: pointer;
    }
}

.register {
    .registerButton {
        background-color: $buttonColor;
        border: 0;
    }
    .loginButton {
        background-color: $buttonColor;
        border: 0;
    }
}
