$buttonColor: #bac8ff;

.login {
    height: 100vh;

    .loginImage {
        height: 300px;
        width: 300px;
    }

    .loginButton {
        height: 50px;
        width: 60%;
    }
    .loginButton:hover {
        background-color: #bac8ff;
    }
    .registerButton {
        height: 50px;

        width: 100%;
    }
    .registerButton:hover {
        background-color: #bac8ff;
    }

    .githubLogin {
        height: 50px;
        background-color: #444343;
        border-radius: 10px;
        border: 5px solid #444343;
        width: 60%;
    }
    .githubLogin:hover {
        border: 2px black solid;
    }
}

.register {
    .registerButton {
        background-color: $buttonColor;
        border: 0;
    }
    .loginButton {
        background-color: $buttonColor;
        border: 0;
    }
}
