.changeProfileModal {
    .changeButton {
        background-color: lightblue;
        border: 0;
    }
    .cancelButton {
        background-color: lightcoral;
        border: 0;
    }
}

.withdrawalModal {
    .confirmButton {
        background-color: lightblue;
        border: 0;
    }
    .cancelButton {
        background-color: lightcoral;
        border: 0;
    }
}

.passwordModal {
    .changePasswordButton {
        background-color: lightblue;
        border: 0;
    }
    .cancelButton {
        background-color: lightcoral;
        border: 0;
    }
}

.logoutModal {
    .logoutButton {
        background-color: lightblue;
        border: 0;
    }
    .cancelButton {
        background-color: lightcoral;
        border: 0;
    }
}

.emailCheckModal {
    .goToLoginButton {
        background-color: lightblue;
        border: 0;
    }
    .cancelButton {
        background-color: lightcoral;
        border: 0;
    }
}
