.network {
    margin: 0 50px;
    .orderState {
        background-color: #bac8ff;
        border: 0;
        box-shadow: none;
    }
    .orderListButton {
        background-color: #bac8ff;
        border: 0;
        box-shadow: none;
    }
    .filterInput {
        box-shadow: none;
    }
}
