.sendNote {
    background-color: antiquewhite;
    margin: 0 50px;
}
.takeNote {
    background-color: aliceblue;
    margin: 0 50px;
}
.filterButton {
    background-color: white;
    border: 0;
    width: 100px;
}
.filterButton:hover {
    background-color: lightblue;
}
.filterButton:focus {
    background-color: lightblue;
    border: 3px solid white;
}
.descriptionButton {
    background-color: lightblue;
    color: black;
    border: 0;
}
.descriptionButton:hover {
    background-color: lightblue;
    color: black;
}
.descriptionCard {
    background-color: white;
    border: 4px solid lightblue;
    height: 70vh;
}
