.noteBackground {
    height: 100vh;
    background-image: url('https://cdn.discordapp.com/attachments/952087329764413545/957305997939068928/feature2__bg--pc.png');
}
.noteBar {
    .filterButton {
        background-color: white;
        border: 0;
        width: 100px;
        box-shadow: none;
        &:hover {
            background-color: lightblue;
        }
    }
    .writeNoteButton {
        box-shadow: none;
        border: 0;
        background-color: hsl(193, 26%, 83%);
    }
}
.noteList {
    .sendNote {
        background-color: hsl(33, 58%, 93%);
        padding: 10px 30px;
    }
    .takeNote {
        background-color: #dbeef4;
        padding: 10px 30px;
    }
    .deleteButton {
        border: 0;
        background-color: lightgray;
        color: black;
        &:hover {
            background-color: rgb(245, 178, 178);
            box-shadow: none;
        }
    }
}
.noteDescription {
    width: 80%;
    .descriptionBar {
    }
    .descriptionButton {
        background-color: lightgray;
        color: black;
        border: 0;
    }
    .descriptionCard {
        border: 4px solid lightgray;
        border-radius: 10px;
        padding: 25px;
    }
}

.noteWriteForm {
    padding: 50px;
    .sendButton {
        background-color: #f5c342;
        color: black;
        border: 0;
    }
    .cancelButton {
        background-color: rgb(245, 178, 178);
        color: black;
        border: 0;
    }
}
